.grouping-css {
    /* Parent Layout */
    /* Layout */
    /* Positioning */
    /* Box Model */
    /* Display */

    /* Parent Layout */
    grid-area: card;

    /* Layout */
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-areas:
        'header header'
        'content content';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;

    /* Positioning */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-inline: 0;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-block: 0;
    z-index: 10;

    /* Box Model */
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    inline-size: 100px;
    block-size: 100px;
    margin: 10px;
    padding: 10px;

    /* Display */
    background-color: red;
    border: 10px solid green;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
}
/* ==================================ACTUAL code======================================= */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Sofia Sans', sans-serif;
    color: #454545;
    background-color: #e2d2bf;
    scroll-behavior: smooth;
    transition: all ease 0.5s;
    -webkit-font-smoothing: antialiased;
}

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
}

nav {
    background-color: #e2d2bf;
    z-index: 10;
}

ul {
    padding-inline-start: 0px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
    margin: 0;
}

.top-nav > li {
    padding: 0.7rem 2rem;
    box-sizing: border-box;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

main {
    max-width: 1920px;
    margin: 0 auto;
    margin: 50px;
}

h1 {
    font-size: 8rem;
    margin: 0;
    font-weight: 200;
}

h2 {
    font-weight: 300;
    font-size: 3rem;
}

.hello,
.work,
.about {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-flow: column;
    background-color: rgba(255, 255, 255, 0.386);
    width: 100%;
    scroll-margin-top: 8vh;
}

.hello h1 {
    text-align: center;
}

.hello h2 {
    font-size: 1.5rem;
    text-align: center;

    line-height: 1.5;
}

.bold-text {
    font-weight: 600;
}

.hc-logo {
    width: 35px;
}

.home {
    margin-top: 0.5rem;
    padding: 0;
}

a {
    color: #454545;

    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;

    position: relative;
}

nav a {
    padding: 5px 20px;
    animation: fadein 2s;
}

.projects {
    display: flex;
    flex-wrap: wrap;

    gap: 1.5rem;
    margin-top: 5rem;

    transition: all 2s ease;
}

.project {
    width: 20vw;
    height: 20vw;
    min-width: 250px;
    min-height: 250px;
    background-color: rgba(255, 255, 255, 0.214);

    border-radius: 2rem;
    transition: all 0.2s ease-in-out;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    cursor: pointer;
}

.project:hover {
    background-color: rgba(255, 255, 255, 0.65);
}

.project:focus {
    outline: 4px dashed rgba(255, 255, 255, 0.65);
}

.active {
    background-color: rgba(255, 255, 255, 0.383);
    border-radius: 10px;
}

.about {
    gap: 10rem;
}

.about h1 {
    text-align: center;
}

p {
    font-weight: 300;
    font-size: 1.5rem;
}

h3 {
    font-size: 1.5rem;
}

.work-content {
    flex-direction: column;
}

.about-content,
.work-content,
.contact-content {
    flex-direction: row;
    flex-wrap: wrap;

    max-width: 1280px;
}

.work-content {
    flex-direction: column;
}

.display-not {
    display: none;
}

.project-modal {
    align-items: center;

    padding: 4vw;
    overflow: hidden;
    background-color: #252525;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 920px;
    max-height: 90%;
    border-radius: 25px;
    background-color: #e9e0d4;
    z-index: 1000;

    height: 100vh;
    overflow-y: hidden;
    animation: fadein 0.5s;
}

.project-modal h3 {
    margin: 0 auto;
    font-weight: 300;
    font-size: 3rem;
}

.modal-overlay {
    /* recommendation:
   don't focus on the number "1000" here, but rather,
   you should have a documented system for z-index and 
   follow that system. This number should be pretty
   high on the scale in that system.
*/
    z-index: 999;
    animation: fadein 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* From https://css.glass */
    background: rgba(36, 36, 36, 0.669);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.tech-tag {
    border: 0px solid #454545;
    background-color: rgba(255, 255, 255, 0.477);
    color: #787878;
    border-radius: 10px;
    padding: 0.3rem 2rem;
    font-size: 1rem;
    margin: 0rem 0.2rem;
    margin-top: 0.8rem;
}

.tech .small {
    font-size: 0.8rem;
    margin: 0.1rem 0.1rem;
    padding: 0.2rem 0.5rem;
    color: #454545;
    background-color: rgba(255, 255, 255, 0);

    border: 1px solid #454545;
}

.tech,
.project-buttons {
    justify-content: start;
}

.project-buttons {
    margin-top: 4rem;
}

.project-modal video {
    width: 80%;
    border-radius: 30px;

    opacity: 1;

    margin: 0;
}

.project-buttons span {
    padding: 1rem 3rem;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 1rem 0.2rem;
    margin-top: 3rem;

    transition: all 0.3s ease-in-out;
    color: whitesmoke;
}

.project-buttons span.github-btn {
    background-color: rgb(83, 131, 77);
}

.project-buttons span.github-btn:hover {
    background-color: rgb(71, 145, 62);
}

.project-buttons span.live-btn {
    background-color: #454545;
}

.project-buttons span.live-btn:hover {
    background-color: #5a5a5a;
}

.project h3 {
    text-align: left;

    color: #454545;
    font-weight: 500;
}

/* ARROW */

.scroll-down-arrow {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23454545' height='200px' width='200px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 330 330' xml:space='preserve' stroke='%23454545'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath id='XMLID_225_' d='M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
}

.scroll-down-link {
    position: absolute;
    z-index: 1;

    height: 25px;
    width: 80px;
    margin: 0px 0 0 -40px;
    line-height: 60px;
    left: 50%;
    bottom: 40px;

    text-align: center;
    font-size: 70px;
    text-decoration: none;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.206);
    -webkit-animation: fade_move_down 2.5s ease-in-out infinite;
    -moz-animation: fade_move_down 2.5s ease-in-out infinite;
    animation: fade_move_down 2.5s ease-in-out infinite;
}

.frost-glass {
    width: 100vw;
    height: 100vh;
    position: fixed;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.project-modal.closed,
.modal-overlay.closed {
    display: none;
    opacity: 0;
}

body.modal-open {
    overflow: hidden;
}

.project h3,
section.tech {
    pointer-events: none;
}

.modal-guts {
    width: 100%;
    height: 100%;

    align-items: center;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
    font-size: 3rem;
    cursor: pointer;
}

.modal-guts .project-img-cover {
    width: 100%;
    height: 40vh;
    background-size: cover;
    overflow-y: scroll;
    background-attachment: local;
    border-radius: 8px;
}

/* Hides empty github/live buttons on project modal */
a[href=''] {
    display: none;
}

.headshot {
    width: 50vw;
    max-width: 400px;
}
.about-content,
.contact-content {
    gap: 3vw;
}

.about-text {
    max-width: 800px;
}

/* Contact form  */
/* Style for the contact form */
.contact-form {
    max-width: 600px;
    margin: 3rem auto;
    background-color: rgba(255, 255, 255, 0.363);
    padding: 2rem;
    border-radius: 10px;
}

.contact-form h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact-form label {
    font-size: 1.2rem;
    display: block;
    margin-bottom: 0.5rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #454545;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.363);
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    background-color: #454545;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.contact-form button:hover {
    background-color: #333333;
}

.col {
    flex-direction: column;
}

/* Media Queries */
@media (max-width: 575.98px) {
    .contact-form {
        /* max-width: 100vw; */
        padding: 1rem;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .contact-form {
        max-width: 80%;
    }
}

/* Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    main {
        margin: 0;
    }

    .hello,
    .work,
    .about {
        padding: 2rem;
    }

    .hello p,
    .work p {
        text-align: center;
        font-size: 1.2rem;
    }

    .projects {
        margin: 0;
        gap: 1rem;
    }

    .about {
        gap: 2rem;
    }

    .scroll-down-arrow {
        display: none;
    }

    nav a {
        padding: 5px 10px;
    }

    .top-nav > li {
        padding: 0;
        box-sizing: border-box;
    }

    h1 {
        font-size: 15vw;
    }
    body {
        font-size: 14px; /* Example: Adjust font size for better readability */
    }

    /* Adjust specific element styles */
    .project {
        width: 95%; /* Example: Make projects take full width */
        height: 100%;
        max-height: 30vh;
    }

    .headshot {
        width: 60vw;
    }

    .project-modal {
        width: 100vw;
        height: 100vh;
        padding: 1rem;
        max-height: 100%;
        border-radius: 0;
    }
}

/* Medium devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 992px) {
    h1 {
        font-size: 10.5vw;
    }
    .project {
        width: 70%;
    }

    .hello,
    .work,
    .about {
        padding: 2rem;
    }

    .project-modal {
        width: 90vw;
        height: 90vh;
        padding: 2.5rem;
    }
    p {
        font-size: 2.5vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .top-nav > li {
        padding: 0.5rem 1rem; /* Example: Adjust navigation link padding */
    }

    .project {
        width: 33.33%; /* Example: Divide projects into thirds */
    }

    h1 {
        font-size: 10.5vw;
    }
    p {
        font-size: 2.5vw;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .hello,
    .work,
    .about {
        padding: 5rem;
    }

    .hello h2 {
        font-size: 2rem; /* Example: Adjust subheading font size */
    }

    .project {
        width: 30%; /* Example: Divide projects into quarters */
    }

    .about {
        flex-direction: row;
    }
}

/* Animations */

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

/* Scroll down animated arrow  */

@keyframes fade_move_down {
    0% {
        transform: translate(0, -20px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0, 20px);
        opacity: 0;
    }
}
